
body{
    background-color: peru ;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/selva_800x600_12_3.gif");
}

nav ul{
    display:flex;
    justify-content: end;
    font-size: 1.5em;
}

nav ul li a{
    background-color: peru;
    display: block;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.2em;
}


header h1{
    color: #556b2f;
}

header a{
    text-decoration: none;
}

main section > div {
    display: flex;
    justify-content: flex-start;
}

nav ul li{
    margin-right: 2em;
}

h1{
    margin: auto;
    padding: 0.3em;
    border: 2px solid black;
    border-radius: 5em;
    width: auto;
    background-color: peru;
}
    
header{
    display: flex;
    justify-content: flex-start;
}

h2, ul {
    color: #556b2f;
}
main section ul li {
    color: black;
}

section{
    display: block;
    border: 2px solid black;
    border-radius: 1em;
    padding: 0.2em;
    background-color: peru;
    margin-top: 1em;
}

section div div{
    margin-left: 1em;
}

img{
    display: block;
    border-radius: 1em;
}

p{
    font-size: larger;
}

section{
    padding: 1em;
}


a:link {color: black;}  
a:visited {color: #556b2f;}  
a:hover {color: black}
a:active {color: black}  

nav ul li a:hover{
    background-color: #556b2f;
    color: black;
    transition: all 500ms ease;
}