
body{
    background-color: peru ;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/selva_800x600_12_3.gif");
}

nav ul{
    display:flex;
    justify-content: end;
    font-size: 1.5em;
    list-style: none;
}

nav ul li a{
    background-color: peru;
    display: block;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.2em;
}

nav ul li{
    margin-right: 2em;
}

header h1{
    color: #556b2f;
}

header a{
    text-decoration: none;
}
  
header{
    display: flex;
    justify-content: flex-start;
}

main section > div {
    display: flex;
    justify-content: flex-start;
}

main section ul li {
    color: black;
}

h1{
    margin: auto;
    padding: 0.3em;
    border: 2px solid black;
    border-radius: 5em;
    width: auto;
    background-color: peru;
    animation: greenandperu 2s linear infinite
}


h2, ul {
    color: #556b2f;
}

section{
    display: block;
    border: 2px solid black;
    border-radius: 1em;
    padding: 0.2em;
    background-color: peru;
    margin-top: 1em;
}

section div div{
    margin-left: 1em;
}

section{
    padding: 1em;
}

img{
    display: block;
    border-radius: 1em;
}

p{
    font-size: 1.1em;
}

#special-gif{
    margin-left: 45em;
}

/* Bij de row class kreeg ik hulp van mijn vader */
.row {
    display: flex;
    justify-content: space-between;
}

.row div{
    display: block;
}

a:link {color: black;}  
a:visited {color: #556b2f;}  
a:hover {
    color: black;
    transition: all 500ms ease;
}
 

nav ul li a:hover{
    background-color: #556b2f;
    color: black;
    transition: all 500ms ease;
    padding: 0.5em;
}

@keyframes greenandperu {
    0% {
        color: #556b2f;
      }
    50% {
        color: peru;
      }
    100% {
        color: #556b2f;
      }
}
